---
import { PaintBucket } from 'lucide-astro'
---

<div class="relative">
	<!-- Button for opening the options -->
	<button class="block">
		<PaintBucket />
	</button>
	<!-- Options -->
	<div class="bg-primary-shade absolute right-0 mt-6 w-32 rounded-lg p-4">
		<ul>
			<li>Theme #1</li>
		</ul>
	</div>
</div>
