---
import StatusCard from '$components/status-card.svelte'
import { Icon } from 'astro-icon/components'

interface Props {
	isMobile?: boolean
}

const contacts = [
	{
		name: 'Email',
		icon: 'mdi:email-fast',
		link: 'mailto:imashfid@gmail.com'
	},
	{
		name: 'GitHub',
		icon: 'mdi:github',
		link: 'https://github.com/ashfidable'
	},
	{
		name: 'RSS',
		icon: 'mdi:rss',
		link: '/rss.xml'
	}
]

const { isMobile = false } = Astro.props
---

<!-- Footer -->
<footer class="mt-auto block w-full pt-2 md:p-4">
	<section transition:persist={isMobile ? 'mobile-status-card' : 'status-card'}>
		<StatusCard client:visible />
	</section>
	<section class="flex flex-wrap justify-center gap-2">
		{
			contacts.map((contact) => (
				<a
					href={contact.link}
					class="ease-springy rounded-md bg-card p-2 text-icon outline-2 outline-highlight-hover transition-[outline] duration-100 hover:bg-button-hover hover:text-icon-hover hover:outline"
				>
					<span class="sr-only">{contact.name}</span>
					<Icon name={contact.icon} class="text-2xl" />
				</a>
			))
		}
	</section>
</footer>
