---
import { Image } from 'astro:assets'
import AshfidPhoto from '$assets/images/ashfid-picture-light.jpg'
---

<a href="/" class="text-accent flex items-center gap-2 font-heading text-xl">
	<div class="h-10 w-10 overflow-hidden rounded-full">
		<Image src={AshfidPhoto} alt="logo" width={180} loading="eager" />
	</div>
	<span class="text-effect mt-2 text-3xl font-extrabold tracking-tight">ASHFID.</span>
</a>
