---
import Sprite from '$components/sprite.astro'
---

<a href="/" class="text-accent group flex items-center justify-center font-heading text-base">
	<div class="mb-1"><Sprite pixelScale={1} /></div>
	<span class="text-effect text-2xl font-extrabold">ASHFID.</span>
</a>
