---
import Logo from './Logo.astro'
import { Links } from './NavigationLinks'
import MobileNavigationBar from './MobileNavigationBar.astro'
import StatusCard from '@components/StatusCard.svelte'
import { Icon } from 'astro-icon/components'

const pageName = Astro.url.pathname

const isCurrentPage = (url: string) => {
	return url === pageName
}
---

<nav
	class="fixed bottom-0 left-0 right-0 z-[99999] flex h-20 items-center gap-4 border-t border-highlight bg-body md:sticky md:top-0 md:h-auto md:max-h-screen md:flex-col md:items-start md:border-x md:border-y-0 md:p-4"
>
	<div class="hidden md:block">
		<Logo />
	</div>

	<!-- Navigation -->
	<section class="hidden w-full flex-col justify-between gap-4 md:flex">
		<ul class="flex flex-grow flex-col gap-4 font-heading">
			{
				Links.map((link) => (
					<li class="flex-grow ">
						<a
							href={link.url}
							class="group flex items-center gap-2 p-2 text-sm font-semibold"
							aria-current={isCurrentPage(link.url) ? 'page' : 'false'}
						>
							<Icon name={link.icon} class="h-6 w-6" />
							<span>{link.name}</span>
							<Icon
								name="svg-spinners:dot-revolve"
								class="loading ml-auto hidden h-4 w-4 text-body group-data-[loading=true]:inline-block"
							/>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<div class="mt-auto hidden w-full md:block" transition:persist="status-card">
		<StatusCard client:load />
	</div>

	<MobileNavigationBar pageName={pageName} />
</nav>
<style>
	a[aria-current='page'] {
		position: relative;
		font-weight: 900;
		z-index: 999999;
		@apply text-button-text-active;
		view-transition-name: current-page;
	}

	a[aria-current='page']::before {
		content: '';
		position: absolute;
		inset: 0;
		@apply bg-button-active;
		@apply rounded-lg;
		z-index: -1;
	}

	a[aria-current='page'] svg {
		@apply animate-bounce;
	}

	a:not([aria-current='page']):hover svg {
		@apply text-icon-hover;
	}
</style>

<script is:inline>
	document.addEventListener('astro:before-preparation', (ev) => {
		const originalLoader = ev.loader
		const allLinkElements = document.querySelectorAll('a[aria-current]')
		const linkArray = [...allLinkElements]

		console.log(ev)
		if (!ev.sourceElement.hasAttribute('aria-current') || ev.to.href === ev.from.href) return
		ev.loader = async function () {
			const toUrlLink = ev.to.href
			const toLinkElement = linkArray.find((element) => element.href === toUrlLink)
			if (toLinkElement.hasAttribute('aria-current')) {
				toLinkElement.dataset.loading = 'true'
			}
			await originalLoader()
			if (toLinkElement.hasAttribute('aria-current')) {
				toLinkElement.removeAttribute('loading')
			}
		}
	})
</script>
