---
import Logo from './Logo.astro'
import { Links } from './NavigationLinks'
import MobileNavigationBar from './mobile-navigation.astro'
import StatusCard from '$components/StatusCard.svelte'
import { Icon } from 'astro-icon/components'

const pageName = Astro.url.pathname

const isCurrentPage = (url: string) => {
	return url === pageName
}
---

<nav
	class="fixed bottom-0 left-0 right-0 z-[60] flex h-20 gap-4 border-t border-highlight bg-body md:sticky md:top-0 md:h-auto md:max-h-screen md:flex-col md:items-start md:border-x md:border-y-0 md:bg-[transparent] md:p-4"
>
	<section class="hidden md:block">
		<Logo />
	</section>

	<!-- Desktop Navigation -->
	<section class="hidden w-full flex-col justify-between gap-4 font-heading md:flex">
		<ul class="flex flex-grow flex-col gap-4">
			{
				Links.map((link) => (
					<li class="flex-grow ">
						<a
							href={link.url}
							class="group flex items-center gap-2 p-1 py-2  text-sm font-semibold tracking-wide"
							aria-current={isCurrentPage(link.url) ? 'page' : 'false'}
						>
							<Icon name={link.icon} class="text-xl" />
							<span>{link.name}</span>
							<Icon
								name="svg-spinners:dot-revolve"
								class="loading ml-auto hidden h-4 w-4 text-body group-data-[loading=true]:inline-block"
							/>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<!-- Footer -->
	<footer class="mt-auto hidden w-full md:block">
		<section class="hidden w-full md:block" transition:persist="status-card">
			<StatusCard client:load />
		</section>
		<section class="flex justify-center gap-2">
			<a href="/" class="rounded-md bg-card p-2 text-icon hover:text-icon-hover">
				<span class="sr-only">Email</span>
				<Icon name="mdi:message-outline" class="text-2xl" />
			</a>
			<a href="/" class="rounded-md bg-card p-2 text-icon hover:text-icon-hover">
				<span class="sr-only">Github</span>
				<Icon name="logos:github-octocat" class="text-2xl" />
			</a>
		</section>
	</footer>

	<MobileNavigationBar pageName={pageName} />
</nav>
<style>
	a[aria-current='page'] {
		position: relative;
		font-weight: 900;
		z-index: 999999;
		@apply text-button-text-active;
		view-transition-name: current-page;
	}

	a[aria-current='page']::before {
		content: '';
		position: absolute;
		inset: 0;
		@apply rounded-md bg-button-active;
		z-index: -1;
	}

	a[aria-current='page'] svg {
		@apply animate-bounce;
	}

	section a:not([aria-current='page']):hover {
		background-color: var(--color-icon-hover);
		@apply rounded-md;
		color: var(--color-button-text-active);
		transition: transform 0.4
			linear(
				0,
				0.004,
				0.016,
				0.035,
				0.063,
				0.098,
				0.141,
				0.191,
				0.25,
				0.316,
				0.391 36.8%,
				0.563,
				0.766,
				1 58.8%,
				0.946,
				0.908 69.1%,
				0.895,
				0.885,
				0.879,
				0.878,
				0.879,
				0.885,
				0.895,
				0.908 89.7%,
				0.946,
				1
			);
	}

	section a:not([aria-current='page']):active {
		transform: scale(1.03);
	}
</style>

<script data-astro-rerun>
	document.addEventListener('astro:before-preparation', (ev) => {
		const originalLoader = ev.loader
		const navElement = document.querySelector('nav')
		const allLinkElements = [...navElement.querySelectorAll('a[aria-current]')]
		const linkArray = [...allLinkElements]

		if (!ev.sourceElement) return
		if (!ev.sourceElement.hasAttribute('aria-current') || ev.to.href === ev.from.href) return

		ev.loader = async function () {
			const toUrlLink = ev.to.href
			const toLinkElement = linkArray.find((element) => element.href === toUrlLink)

			if (toLinkElement && toLinkElement.hasAttribute('aria-current')) {
				toLinkElement.dataset.loading = 'true'
			}
			await originalLoader()
			if (toLinkElement && toLinkElement.hasAttribute('aria-current')) {
				toLinkElement.removeAttribute('loading')
			}
		}
	})
</script>
