---
import type { MarkdownHeading } from 'astro'

interface Props {
	headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<section class="sticky top-0 z-30 h-12">
	<details
		id="table-of-contents"
		class="group border-y border-highlight bg-body p-4 pb-2 open:border-b open:font-bold"
	>
		<summary
			class="cursor-pointer pb-2 font-semibold decoration-link decoration-4 marker:text-heading group-open:underline"
			>Table Of Contents</summary
		>
		<ul
			class="ml-2 flex max-h-72 list-inside list-disc flex-col gap-2 overflow-y-auto p-4 pt-0 font-normal marker:text-heading"
		>
			{
				headings.map((heading) => (
					<li class:list={[{ 'ml-4': heading.depth === 3 }, { 'font-bold': heading.depth === 2 }]}>
						<a href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				))
			}
		</ul>
	</details>
</section>

<script data-astro-rerun is:inline>
	document.addEventListener('astro:page-load', () => {
		const detailsElement = document.querySelector('details')
		const tocLinks = detailsElement?.querySelectorAll('a')

		tocLinks?.forEach((link) => {
			link.addEventListener('click', changeState)
		})

		function changeState() {
			detailsElement?.removeAttribute('open')
		}
	})
</script>
