# generated output
dist/
.tanstack/

# dependencies
node_modules/

# vscode
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.polish-server*.log


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
