---
const { ...props } = Astro.props
---

<h1
	{...props}
	class="group scroll-mt-16 border-b border-highlight font-heading text-2xl font-bold text-heading hover:text-heading-hover"
>
	<a href={`#${props.id}`}>
		<slot />
	</a>
	<span class="opacity-0 transition-opacity duration-75 ease-linear group-hover:opacity-100">
		#</span
	>
</h1>

<style>
	a {
		position: relative;
		display: inline-block;
	}

	a::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		transform-origin: bottom left;
		height: 4px;
		background-color: var(--color-heading-text);
		bottom: 0;
		left: 0;

		transition: transform 100ms linear;
	}

	a:hover::after {
		transform: scaleX(1);
	}
</style>
