---
import { Icon } from 'astro-icon/components'
const { ...props } = Astro.props
---

<h2
	{...props}
	class="group mb-4 mt-8 flex snap-start scroll-mt-16 items-center gap-2 border-b border-highlight-hover pb-1 font-heading text-xl font-bold hover:text-heading-hover"
>
	<a href={`#${props.id}`}><slot /></a>
	<Icon
		name="ri:link"
		class="inline-block opacity-0 transition-opacity duration-75 ease-linear group-hover:opacity-100"
	/>
</h2>
