---
import { Icon } from 'astro-icon/components'
const { ...props } = Astro.props
---

<h3
	{...props}
	class="group mb-2 mt-6 flex scroll-mt-16 items-center gap-2 font-heading text-xl font-bold hover:text-heading-hover"
>
	<a href={`#${props.id}`}><slot /></a>
	<Icon
		name="ri:link"
		class="inline-block opacity-0 transition-opacity duration-75 ease-linear group-hover:opacity-100"
	/>
</h3>
