---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string | undefined
	name: string
}

const { icon, name } = Astro.props
---

<div class="group inline-block rounded-md bg-card p-4" data-tooltip={name}>
	<span
		class="pointer-events-none inline-block -translate-y-12 scale-0 rounded-md border border-highlight bg-card p-2 font-bold opacity-0 transition-all duration-150 ease-in-out group-hover:scale-100 group-hover:opacity-100"
		>{name}</span
	>
	<Icon
		name={icon}
		class="text-3xl opacity-50 transition-all duration-150 ease-linear group-hover:scale-110 group-hover:text-icon-hover group-hover:opacity-100"
	/>
</div>

<style>
	div {
		position: relative;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: max-content;
	}
</style>
