---
import { convertToTitleCase } from '$utils/string-formatter'
import type { CollectionEntry } from 'astro:content'
import SkillIcon from './skill-icon.astro'

interface Props {
	skill: CollectionEntry<'skills'>
}

const { skill } = Astro.props

const title = convertToTitleCase(skill.id)

skill.data.entries = skill.data.entries.sort((b, a) => b.name.localeCompare(a.name))
---

<div class="flex flex-col gap-2 md:items-start">
	<h3 class="font-heading text-xl font-semibold text-heading">{title}</h3>
	<div class="flex flex-wrap gap-2">
		{skill.data.entries.map((entry) => <SkillIcon icon={entry.icon} name={entry.name} />)}
	</div>
</div>
