---
import SettingsRevamp from '$components/settings/settings-revamp.svelte'
import CommandPalette from '$components/command-palette/command-palette.svelte'
---

<div
	class="hidden items-center justify-between border-b-highlight bg-card p-2 px-4 text-sm md:flex md:border-b-2"
>
	<section><CommandPalette client:idle /></section>
	<section transition:persist="settings"><SettingsRevamp client:idle /></section>
</div>

<script>
	import { navigate } from 'astro:transitions/client'
	import { commandsStore } from '$stores/commands-store'
	import { Links } from '$components/navigation-bar/NavigationLinks'

	document.addEventListener('astro:page-load', async () => {
		const res = await fetch('/api/posts.json')
		const data = await res.json()

		const allPosts = data

		Links.forEach((link) => {
			commandsStore.addCommand({
				title: link.name,
				emoji: '🔗',
				delay: 100,
				run: () => {
					navigate(link.url)
				},
				category: 'Go To'
			})
		})

		allPosts.forEach((post: any) => {
			commandsStore.addCommand({
				title: `${post.title}`,
				emoji: '🔗',
				delay: 100,
				run: () => {
					navigate(`${post.url}`)
				},
				category: 'Go To'
			})
		})
	})
</script>
