---
import ThemePicker from '$components/ThemePicker/ThemePicker.svelte'
import CommandPalette from '$components/command-palette/command-palette.svelte'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

const snippets = await getCollection('snippets')
---

<div
	class="hidden items-center justify-between border-b-highlight bg-card p-2 px-4 text-sm md:flex md:border-b-2"
>
	<CommandPalette client:idle />

	<ThemePicker client:visible>
		<Icon name="ri:settings-4-line" slot="icon" />
	</ThemePicker>
</div>

<script>
	import { navigate } from 'astro:transitions/client'
	import { commandsStore } from '$stores/commands-store'

	const res = await fetch('/api/posts.json')
	const data = await res.json()

	const allSnippets = data

	allSnippets.forEach((snippet: any) => {
		commandsStore.addCommand({
			title: `Go to ${snippet.data.title}`,
			emoji: '🔗',
			delay: 10,
			run: () => {
				navigate(`/snippets/${snippet.slug}`)
			},
			category: 'Pages'
		})
	})
</script>
