---
import SettingsRevamp from '$components/settings/settings-revamp.svelte'
import CommandPalette from '$components/command-palette/command-palette.svelte'
import { getCollection } from 'astro:content'

const snippets = await getCollection('snippets')
---

<div
	class="hidden items-center justify-between border-b-highlight bg-card p-2 px-4 text-sm md:flex md:border-b-2"
>
	<CommandPalette client:idle />
	<section transition:persist="settings"><SettingsRevamp client:idle /></section>
</div>

<script>
	import { navigate } from 'astro:transitions/client'
	import { commandsStore } from '$stores/commands-store'

	const res = await fetch('/api/posts.json')
	const data = await res.json()

	const allSnippets = data

	allSnippets.forEach((snippet: any) => {
		commandsStore.addCommand({
			title: `Go to ${snippet.title}`,
			emoji: '🔗',
			delay: 10,
			run: () => {
				navigate(`${snippet.url}`)
			},
			category: 'Pages'
		})
	})
</script>
