@import url('themes.css') layer(base);

@tailwind base;
@tailwind components;

@layer base {
	html {
		font-family: var(--font-body);
		background: var(--color-background);
	}

	html,
	body {
		min-height: 100%;
	}

	html {
		scrollbar-gutter: stable;
	}

	code {
		background-color: var(--color-code-background);
		@apply rounded-md px-2;
	}
}

@layer components {
	.two-column-layout {
		display: grid;
		grid-template-columns: 1fr 180px;
	}

	.text-effect {
		color: transparent;
		font-weight: 900;
		-webkit-background-clip: text;
		background-clip: text;
		background-color: var(--color-gradient-from);
		background-size: 200%;
		background-image: linear-gradient(
			to bottom,
			var(--color-gradient-from) 25%,
			var(--color-gradient-to) 75%
		);
	}
}
