@import url('themes.css') layer(base);

@tailwind base;

@layer base {
	html {
		font-family: 'Inter', system-ui, sans-serif;
	}

	[data-type='react'] {
		--primary-color: 217 91% 60%;
		--secondary-color: 224 76% 48%;
		--accent-color: var(--primary-color);
	}

	[data-type='svelte'] {
		--primary-color: 25 95% 53%;
		--secondary-color: 17 88% 40%;
		--accent-color: var(--primary-color);
	}

	[data-type='unity'] {
		--primary-color: 217 33% 17%;
		--secondary-color: 0 0% 0%;
		--accent-color: var(--primary-color);
	}

	[data-theme='dark'] [data-type='unity'] {
		--primary-color: 217 33% 17%;
		--secondary-color: 0 0% 0%;
		--accent-color: 0 0% 75%;
	}
}

html {
	background-image: linear-gradient(
		to bottom right,
		var(--color-primary-lighter),
		var(--color-primary-light)
	);
	color: white;
}

::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
}

.debug {
	outline: 2px solid lime;
}

.text-effect {
	color: transparent;
	font-weight: 900;
	-webkit-background-clip: text;
	background-clip: text;
	background-color: #0093e9;
	background-size: 100%;
	background-image: linear-gradient(90.2deg, rgba(79, 255, 255, 1) 0.3%, var(--color-accent) 99.8%);
}
