[data-theme='dark'] {
	--color-primary: hsl(255, 22%, 5%);
	--color-primary-tone: hsl(255, 22%, 10%);
	--color-primary-tint: hsl(255, 22%, 20%);
	--color-primary-shade: hsl(255, 22%, 2%);

	--color-accent: #06b6d4;
	--color-accent-tint: theme(colors.cyan.200);
	--color-accent-tone: theme(colors.cyan.400);
	--color-accent-shade: theme(colors.cyan.600);

	/* Colors */
	--color-background: hsl(255, 22%, 10%);
	--color-background-body: hsl(255, 22%, 5%);
	--color-background-card: hsl(255, 22%, 10%);

	--color-border: hsl(255, 22%, 20%);
	--color-heading-text: hsl(189, 94%, 43%);
	--color-heading-text-hover: hsl(189, 94%, 53%);

	--color-button-active: hsl(189, 94%, 43%);
	--color-button-hover: hsl(188, 86%, 53%);
	--color-button-text-active: hsl(255, 22%, 10%);

	--color-card-date-text: hsl(188, 86%, 53%);

	--color-icon-hover: hsl(188, 86%, 53%);

	--color-spotify-progress: hsl(188, 86%, 53%);
	--color-spotify-progress-background: hsl(255, 22%, 20%);

	--color-body-text: hsl(255, 22%, 92%);

	--font-heading: 'Raleway Variable', system-ui, sans-serif;
}

[data-theme='bee'] {
	--color-primary: hsl(15, 35%, 35%);
	--color-primary-tone: hsl(15, 35%, 40%);
	--color-primary-tint: #e07f14;
	--color-primary-shade: hsl(15, 35%, 32%);

	--color-accent: hsl(43, 94%, 61%);
	--color-accent-tone: hsl(43, 94%, 65%);
	--color-accent-tint: hsl(43, 94%, 71%);
	--color-accent-shade: hsl(43, 94%, 58%);

	--text-neutral: hsl(255, 22%, 92%);
	--text-neutral-tone: hsl(0, 0%, 100%);
	--text-neutral-shade: hsl(0, 0%, 82%);

	--font-heading: 'Josefin Sans Variable', system-ui, sans-serif;
	--font-heading: 'Raleway Variable', system-ui, sans-serif;

	--background-main: linear-gradient(
		to bottom right,
		var(--color-primary),
		var(--color-primary-tone)
	);
	/* --background-main: var(--color-primary); */
}

[data-theme='light'] {
	--color-primary: theme(colors.violet.400);
	--color-primary-tone: theme(colors.violet.300);
	--color-primary-shade: theme(colors.violet.200);

	--color-accent: theme(colors.violet.500);
	--color-accent-tone: theme(colors.violet.500);
	--color-accent-shade: theme(colors.violet.400);

	--font-heading: 'Josefin Sans Variable', system-ui, sans-serif;

	--background-main: linear-gradient(
		to bottom right,
		var(--color-primary-tone),
		var(--color-primary-shade)
	);
	--text-neutral: black;
}

[data-type='react'] {
	--primary-color: 217 91% 60%;
	--secondary-color: 224 76% 48%;
	--accent-color: var(--primary-color);
}

[data-type='svelte'] {
	--color-category-highlight: hsl(25 95% 53%);
	--color-category-background: hsl(17 88% 40%);
}

[data-type='web'] {
	--color-category-highlight: hsl(159, 70%, 61%);
	--color-category-background: hsl(159, 70%, 51%);
}

[data-type='unity'] {
	--primary-color: 217 33% 17%;
	--secondary-color: 0 0% 0%;
	--accent-color: var(--primary-color);
}

[data-theme='dark'] [data-type='unity'] {
	--primary-color: 217 33% 17%;
	--secondary-color: 0 0% 0%;
	--accent-color: 0 0% 75%;
}
