:root {
	/* Fonts */
	--font-heading: 'Raleway Variable', system-ui, sans-serif;
}

[data-theme='dark'] {
	/* Colors */
	color-scheme: dark;
	--color-theme-primary: hsl(255, 22%, 10%);
	--color-theme-secondary: hsl(189, 94%, 53%);

	--color-background: hsl(255, 22%, 10%);
	--color-background-body: hsl(255, 22%, 5%);
	--color-background-card: hsl(255, 22%, 10%);

	--color-input-background: hsl(255, 22%, 20%);
	--color-input-ring-normal: hsl(255, 22%, 20%);
	--color-input-ring-focus: hsl(189, 94%, 53%);

	--color-border-highlight: hsl(255, 22%, 20%);
	--color-border-highlight-hover: hsl(189, 94%, 43%);

	--color-heading-text: hsl(189, 94%, 48%);
	--color-heading-text-hover: hsl(189, 94%, 53%);

	--color-button-active: hsl(189, 94%, 48%);
	--color-button-hover: hsl(188, 86%, 53%);
	--color-button-text-active: hsl(189, 94%, 12%);

	--color-card-date-text: hsl(188, 86%, 53%);

	--color-icon: hsl(255, 22%, 85%);
	--color-icon-hover: hsl(188, 86%, 53%);

	--color-blockquote-indicator: hsl(189, 94%, 53%);
	--color-blockquote-background: hsla(189, 94%, 53%, 0.5);
	--color-blockquote-text: hsl(0, 0%, 95%);

	--color-spotify-progress: hsl(188, 86%, 53%);
	--color-spotify-progress-background: hsl(255, 22%, 20%);

	--color-code-background: hsl(255, 22%, 20%);

	--color-body-text: hsl(255, 22%, 90%);
	--color-link: hsl(188, 95%, 40%);
	--color-link-hover: hsl(188, 95%, 50%);
}

[data-theme='light'] {
	/* Colors */
	color-scheme: light;
	--color-theme-primary: hsl(0, 0%, 95%);
	--color-theme-secondary: hsl(265, 91%, 35%);

	--color-background: hsl(0, 0%, 98%);
	--color-background-body: hsl(0, 0%, 95%);
	--color-background-card: hsl(0, 0%, 98%);

	--color-input-background: hsl(255, 22%, 20%);
	--color-input-ring-normal: hsl(255, 22%, 20%);
	--color-input-ring-focus: hsl(265, 91%, 40%);

	--color-border-highlight: hsl(0, 0%, 10%);
	--color-border-highlight-hover: hsl(265, 91%, 45%);

	--color-heading-text: hsl(265, 91%, 35%);
	--color-heading-text-hover: hsl(265, 91%, 45%);

	--color-button-active: hsl(265, 91%, 40%);
	--color-button-hover: hsl(265, 91%, 55%);
	--color-button-text-active: hsl(0, 0%, 96%);

	--color-card-date-text: hsl(265, 91%, 20%);

	--color-icon: hsl(0, 0%, 96%);
	--color-icon-hover: hsl(265, 91%, 45%);

	--color-blockquote-indicator: hsl(265, 91%, 35%);
	--color-blockquote-background: hsl(265, 91%, 35%, 0.4);
	--color-blockquote-text: hsl(0, 0%, 100%);

	--color-spotify-progress: hsl(265, 91%, 35%);
	--color-spotify-progress-background: hsl(0, 0%, 75%);

	--color-code-background: hsl(0, 0%, 96%);

	--color-body-text: hsl(0, 0%, 8%);
}

[data-type='web'] {
	--color-category-highlight: hsl(271, 76%, 63%);
	--color-category-background: linear-gradient(
		108.7deg,
		rgba(221, 22, 224, 1) 11%,
		rgba(111, 22, 190, 1) 88.2%
	);
}

[data-type='tool'] {
	--color-category-highlight: hsl(330, 91%, 69%);
	--color-category-background: linear-gradient(
		108.7deg,
		hsl(330, 91%, 69%) 11%,
		hsl(347, 76%, 63%) 88.2%
	);
	--color-category-text: white;
}
