:root,
[data-theme='dark'] {
	/* --color-primary: 240 13% 8%; */
	--color-primary: hsl(255, 22%, 4%);
	--color-primary-light: hsl(250, 23%, 10%);
	--color-primary-lighter: hsl(250, 23%, 16%);

	--color-accent: theme(colors.cyan.400);
	--color-accent-light: theme(colors.cyan.400);
	--color-accent-lighter: theme(colors.cyan.300);

	--font-heading: 'Josefin Sans Variable', system-ui, sans-serif;
}

[data-theme='halloween'] {
	--color-primary: 255 20% 4%;
	--color-primary-light: 250 23% 5%;
	--color-primary-lighter: 250 23% 2%;

	--color-accent: theme(colors.orange.500);
	--color-accent-light: theme(colors.orange.400);
	--color-accent-lighter: theme(colors.orange.300);
}
