---
import { Icon } from 'astro-icon/components'

const { title, type = 'tool' } = Astro.props
---

<a
	href="/blog/test"
	class="group flex h-full flex-col justify-between gap-4 overflow-hidden rounded-md border border-b-4 border-highlight bg-card p-4 pb-2 hover:border-b-pink-500 hover:bg-input"
	data-type={type}
>
	<div class="space-y-4">
		<div class="flex flex-col justify-between gap-2">
			<div
				class="inline-flex items-center gap-2 self-start overflow-hidden rounded-md bg-card bg-pink-600 p-1 text-xs font-bold tracking-wide opacity-90"
			>
				<div class="text-lg">
					<Icon name="mdi:note-edit" class="text-icon" />
				</div>
				<!-- <span class="text-fuchsia-900">Category Name</span> -->
			</div>
			<h2 class="font-heading text-base font-semibold tracking-wider text-icon">
				{title}
			</h2>
		</div>
	</div>

	<div class="mt-auto space-y-2">
		<p class="font-thin text-slate-500">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit.
		</p>
		<div class="flex justify-between border-t border-highlight pt-2 font-mono text-sm">
			<time class="text-datetime-text">29 March 2024</time>
			<span>6 mins</span>
		</div>
	</div>
</a>
