---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

interface Props {
	tool: CollectionEntry<'tools'>
}

const { tool } = Astro.props
---

<a
	href={tool.data.url}
	class="cursor-pointer rounded-md border-x border-b-2 border-t border-highlight bg-card p-2 hover:border-highlight-hover"
	rel="external nofollow"
	transition:name={tool.data.title}
>
	<div class="flex items-center gap-4">
		<div class="flex h-4 w-4 items-center">
			<Icon name={tool.data.icon} class="text-base" />
		</div>

		<h4 class="font-heading font-bold tracking-wide">{tool.data.title}</h4>
	</div>
</a>
