---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

interface Props {
	tool: CollectionEntry<'tools'>
}

const { tool } = Astro.props
---

<a
	href={tool.data.url}
	class="space-y-2 rounded-lg border-x-2 border-b-4 border-t-2 border-highlight bg-card p-2"
	transition:name={tool.data.title}
	rel="external nofollow"
>
	<div class="flex items-center gap-4">
		<Icon name={tool.data.icon} class="h-8 w-8" />
		<h4 class="font-heading font-bold tracking-wide">{tool.data.title}</h4>
	</div>
</a>
