---
import { ViewTransitions } from 'astro:transitions'
import '$styles/globals.css'

import NavigationBar from '$components/navigation-bar/navigation-wrapper.astro'
import CommandBar from '$components/command-palette/command-bar.astro'
import MobileNavigation from '$components/navigation-bar/mobile-navigation.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Meta Tags -->
		<meta name="generator" content={Astro.generator} />

		<slot name="seo" />
		<ViewTransitions fallback="swap" />

		<script data-astro-rerun>
			function setSettings(newDocument) {
				const element = newDocument.documentElement

				Object.keys(getSettings()).map((key) => {
					const value = getSettings()[key]

					if (key !== 'sound' && key !== 'version') element.setAttribute(`data-${key}`, value)
				})

				if (typeof localStorage !== undefined) {
					localStorage.setItem(
						'settings',
						JSON.stringify({
							...getSettings()
						})
					)
				}
			}

			function getSettings() {
				if (typeof localStorage !== undefined && localStorage.getItem('settings')) {
					return JSON.parse(localStorage.getItem('settings'))
				}

				const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches

				if (isDark) {
					return {
						theme: 'dark'
					}
				} else {
					return {
						theme: 'light'
					}
				}
			}

			function setVersion() {
				if (typeof localStorage !== undefined) {
					const version = JSON.parse(localStorage.getItem('version'))

					if (!version) {
						localStorage.clear()
						localStorage.setItem('version', JSON.stringify(1))
					}
				}
			}

			setVersion()
			setSettings(document)
		</script>
	</head>
	<body
		class="mx-auto mb-20 min-h-screen max-w-6xl grid-cols-sidebar-layout bg-body text-body md:mb-auto md:grid"
	>
		<NavigationBar />
		<MobileNavigation />
		<main class="flex h-full flex-grow flex-col gap-4 text-base md:border-r md:border-highlight">
			<CommandBar />
			<div class="flex flex-col gap-8 px-4 pb-4 pt-4 md:px-4 md:pt-0">
				<slot />
			</div>
		</main>

		<script src="$utils/play-audio.ts"></script>
		<script src="$utils/theme-flash-fix.ts"></script>
	</body>
</html>
