---
import BlogCard from "@components/BlogCard.astro";
import Main from "src/layouts/Main.astro";

const tags = ["All", "React", "Svelte", "Javascript", "Godot", "Unity", "C#"];
---

<Main title="Blog">
    <div class="space-y-4">
        <section class="bg-primary-light rounded-md px-5 py-5 space-y-3">
            <h1 class="font-heading font-extrabold text-2xl">Blog ðŸ“˜</h1>
            <p>Personal journal... I guess.</p>
        </section>

        <section class="bg-primary-light rounded-md px-5 py-5 space-y-3">
            <input
                placeholder="ðŸ” Search all posts"
                class="w-full rounded-md bg-primary-lighter p-2 placeholder:text-slate-400 focus:outline-none focus:outline-accent"
            />
            <ul class="flex gap-2">
                {
                    tags.map((tag) => (
                        <li class="p-2 bg-primary-lighter rounded-md">{tag}</li>
                    ))
                }
            </ul>
        </section>

        <section class="rounded-md flex gap-4">
            <div class="flex-grow space-y-4">
                <BlogCard />
                <BlogCard />
                <BlogCard />
                <BlogCard />
                <BlogCard />
                <BlogCard />
            </div>
        </section>
    </div>
</Main>
