---
import HeroSection from '@components/hero-section.astro'
import RevisedLayout from '@layouts/RevisedLayout.astro'
---

<RevisedLayout title="Blog">
	<HeroSection title="Blog 📙">
		<p>Articles I wrote...</p>
	</HeroSection>
</RevisedLayout>
