---
import HeroSection from '$components/hero-section.astro'
import BaseLayout from '$layouts/base-layout.astro'
---

<BaseLayout title="Blog">
	<HeroSection title="Blog 📙">
		<p>Articles I wrote...</p>
	</HeroSection>
</BaseLayout>
