---
import SnippetCard from '$components/cards/snippet-card.astro'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import SectionHeading from '$components/SectionHeading.astro'
import HeroSection from '$components/IndexHeroSection.astro'
import BaseLayout from '$layouts/base-layout.astro'

const skills = await getCollection('skills')

const snippets = await getCollection('snippets')
---

<BaseLayout title="Ashfid">
	<HeroSection />

	<!-- Featured Posts (New!) -->
	<section id="latest-posts" class="space-y-4">
		<SectionHeading title="Latest Posts" />
		<div class="clam grid grid-cols-1 gap-1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar erat imperdiet felis
			porta, nec porta eros cursus. Proin ut pharetra eros. Etiam sit amet efficitur elit. Donec et
			nibh vel magna volutpat fringilla dignissim id mi. Donec venenatis, justo ullamcorper lacinia
			mattis, turpis lorem sodales neque, in interdum eros dui eu dui. Fusce sit amet nisl neque.
			Sed vel nisi mollis, consequat turpis in, lacinia turpis. Curabitur luctus aliquet finibus.
			Vivamus congue volutpat tellus vitae interdum.
		</div>
	</section>

	<!-- Featured Snippets -->
	<section id="latest-snippets" class="space-y-4">
		<SectionHeading title="Featured Snippets" />
		<div class="grid grid-cols-1 gap-2 lg:gap-4">
			{
				snippets.map((snippet) => {
					const href = `/snippets/${snippet.slug}`
					return <SnippetCard as="h3" snippet={snippet} />
				})
			}
		</div>
	</section>

	<!-- Things I know.  -->
	<section id="things-i-know" class="space-y-4">
		<SectionHeading title="Things I know" />
		{
			skills.map((skill) => {
				const rawName = skill.id
				const name = skill.id.charAt(0).toUpperCase() + rawName.slice(1)
				const cleanName = name.replace('-', ' ')

				return (
					<div class="flex flex-col gap-2 md:items-start">
						<h3 class="font-heading text-xl font-semibold text-heading">{cleanName}</h3>
						<div class="flex flex-wrap gap-2">
							{skill.data.entries.map((entry) => (
								<div class="group rounded-md bg-card p-4">
									<Icon
										name={entry.icon}
										class="text-3xl opacity-50 transition-all duration-150 ease-linear group-hover:scale-110 group-hover:text-icon-hover group-hover:opacity-100"
									/>
								</div>
							))}
						</div>
					</div>
				)
			})
		}
	</section>
</BaseLayout>
