---
import SnippetCard from '$components/cards/snippet-card.astro'
import { getCollection } from 'astro:content'
import SectionHeading from '$components/section-heading.astro'
import HeroSection from '$components/home-hero-section.astro'
import BaseLayout from '$layouts/base-layout.astro'
import BlogCard from '$components/cards/blog-card.astro'
import SkillContainer from '$components/skill-section/skill-container.astro'
import BaseSeo from '$components/base-seo.astro'

let skills = await getCollection('skills')

skills = skills.sort((b, a) => a.data.entries.length - b.data.entries.length)

const snippets = await getCollection('snippets')
const posts = await getCollection('blog')
---

<BaseLayout>
	<Fragment slot="seo">
		<BaseSeo
			title="Home"
			description="I’m a Software Engineer and Programmer. This cozy corner is for sharing my thoughts, tutorials, and much more. Welcome to my digital garden."
			type="website"
		/>
	</Fragment>
	<HeroSection />

	<!-- Featured Posts (New!) -->
	<section id="latest-posts" class="space-y-4">
		<SectionHeading title="Latest Posts" />
		<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => {
					return <BlogCard post={post} />
				})
			}
		</div>
	</section>

	<!-- Featured Snippets -->
	<section id="latest-snippets" class="space-y-4">
		<SectionHeading title="Latest Snippets" />
		<div class="grid grid-cols-1 gap-2 lg:gap-4">
			{
				snippets.map((snippet) => {
					const href = `/snippets/${snippet.slug}`
					return <SnippetCard as="h3" snippet={snippet} />
				})
			}
		</div>
	</section>

	<!-- Things I know.  -->
	<section id="things-i-know" class="space-y-4">
		<SectionHeading title="Things I know" />
		{skills.map((skill) => <SkillContainer skill={skill} />)}
	</section>
</BaseLayout>
