---
import { Icon } from "astro-icon";

interface Props {
    type?: string;
}

const { type = "svelte" } = Astro.props as Props;

function colorTag(): string {
    switch (type) {
        case "svelte":
            return "from-orange-500 to-orange-700 group-hover:from-orange-400 group-hover:to-orange-500";
        case "react":
            return "from-blue-500 to-blue-700 group-hover:from-blue-400 group-hover:to-blue-500";
    }
    return "";
}

function colorBorder(group = false): string {
    switch (type) {
        case "svelte":
            return group
                ? "group-hover:border-orange-500"
                : "hover:border-orange-500";
        case "react":
            return group
                ? "group-hover:border-blue-500"
                : "hover:border-blue-500";
    }
    return "";
}

function colorOutline(group = false): string {
    switch (type) {
        case "svelte":
            return group
                ? "group-hover:outline-orange-500"
                : "hover:outline-orange-500";
        case "react":
            return group
                ? "group-hover:outline-blue-500"
                : `hover:outline-blue-500`;
    }
    return "";
}
---

<a
    class={`relative bg-primary-light rounded-md p-3 flex flex-col gap-4 cursor-pointer transition-all duration-150 ease-in-out group hover:-translate-y-2 outline outline-0 hover:outline-2 outline-primary-light ${colorOutline()}`}
>
    <h2
        class={`flex items-center gap-5 border-b-4 border-primary-lighter ${colorBorder(
            true
        )} transition-all duration-150 pb-4`}
    >
        <div class={`p-1 bg-gradient-to-br ${colorTag()} rounded-md`}>
            <Icon
                name={type === "svelte"
                    ? "vscode-icons:file-type-svelte"
                    : "vscode-icons:file-type-reactjs"}
                class="w-8 group-hover:animate-bounce"
            />
        </div>
        <div class="flex flex-col flex-grow font-heading font-bold">
            <span>Post Title</span>
            <div class="flex justify-between text-slate-500"></div>
        </div>
    </h2>
    <div class="flex flex-col gap-4">
        <p>
            Description of the blog or excerpt here. This might have more lines
            as we go along
        </p>

        <div
            class="flex items-center justify-between gap-4 uppercase font-semibold"
        >
            <ul class="flex gap-4">
                <li
                    class="bg-primary-lighter group-hover:bg-primary-light py-1 px-2 rounded-md transition-all duration-150"
                >
                    WEB
                </li>
                <li
                    class="bg-primary-lighter group-hover:bg-primary-light py-1 px-2 rounded-md transition-all duration-150"
                >
                    Svelte
                </li>
            </ul>
            <span class="text-slate-500">26 Jan 2022</span>
        </div>
    </div>
</a>
