---
interface Props {
	title: string
}

const { title = 'Title Here' } = Astro.props
---

<section class="space-y-2 rounded-md border border-b-4 border-highlight bg-card p-4 text-body">
	<h1 class="font-heading text-xl font-extrabold tracking-wider">{title}</h1>
	<slot />
</section>
