---
import { Image } from 'astro:assets'
import ashfidLight from '../assets/images/ashfid-picture-light.jpg'
import HeroSection from './hero-section.astro'
---

<!-- Header content -->
<section class="md:two-column-layout flex flex-col-reverse items-center gap-2 md:items-stretch">
	<HeroSection title="Hi there ðŸ‘‹ðŸ¼">
		<p>
			Code whisperer here, sharing dev secrets to simplify your coding life! Let's ditch the
			over-engineering and keep it fun.
		</p>
	</HeroSection>

	<div
		class="overflow-hidden rounded-md"
		transition:name="profile-picture"
		transition:animate="slide"
	>
		<Image src={ashfidLight} alt="Ashfid for Light Mode" width={180} class="h-full object-cover" />
	</div>
</section>
