<div>
    <!-- Logo -->
    <h1 class="lowercase font-extrabold">Ashfid</h1>
    <!-- Navbar -->
    <nav>
        <!-- Navigation Links -->
        <section>
            <ul class="flex flex-col">
                <li>
                    <a href="/" class="flex spacing-x-2">Home</a>
                </li>
                <li>
                    <a href="/blog" class="flex spacing-x-2">Writings</a>
                </li>
                <li>
                    <a href="/uses" class="flex spacing-x-2">Uses</a>
                </li>
                <li>
                    <a href="/snippets" class="flex spacing-x-2">Snippets</a>
                </li>
            </ul>
        </section>
        <!-- Utilities Links -->
        <section>
            <ul></ul>
        </section>
    </nav>
    <!-- Footer -->
    <footer></footer>
</div>
