---
import { highlightedText } from '$utils/string-formatter'

interface Props {
	title: string
}

const { title } = Astro.props

const { firstWord, restWords } = highlightedText(title)
---

<h2 class="font-heading text-xl font-semibold tracking-normal">
	<span class="font-bold text-heading">
		{firstWord}
	</span>
	<span>{restWords}</span>
</h2>
