---
interface Props {
	title: string
}

const { title } = Astro.props

const highlightedTitle = title.split(' ')[0] + ' '
const restTitle = title.substring(title.indexOf(' ') + 1)
---

<h2 class="font-heading text-3xl tracking-wide">
	<span class="font-bold text-accent">
		{highlightedTitle}
	</span>
	<span>{restTitle}</span>
</h2>

<!-- <style>
	h2 {
		position: relative;
	}
	h2::before {
		content: '';
		position: absolute;
		bottom: 5px;
		width: 16rem;
		height: 0.5rem;
		transform: skew(-12deg) translateX(-50%);
		background: var(--color-accent-lighter);
		opacity: 0.5;
		z-index: -1;
	}
</style> -->
