---
import { Icon } from 'astro-icon'
---

<a
	class="bg-primary-tone hover:bg-primary-toneer group flex cursor-pointer flex-col gap-4 rounded-md p-3 transition-all duration-150 ease-linear"
>
	<h2 class="flex items-center gap-5">
		<div class="rounded-md bg-gradient-to-br from-orange-500 to-orange-700 p-1">
			<Icon name="vscode-icons:file-type-svelte" class="w-8 group-hover:animate-bounce" />
		</div>
		<div class="flex flex-grow flex-col font-bold">
			<span>Snippet Title</span>
		</div>
	</h2>
</a>
