---
import AshfidPixelSheet from '$assets/images/ashfid_pixel_sheet.png'
import { Image } from 'astro:assets'

interface Props {
	pixelScale?: number
}

const { pixelScale = 3.5 } = Astro.props
---

<div class="character group mx-auto rounded-md" style={`--pixel-size: ${pixelScale}`}>
	<Image
		src={AshfidPixelSheet}
		width={960}
		quality="max"
		alt="Ashfid"
		class="spritesheet group-hover:animate-[moveSpritesheet_1.5s_steps(var(--frames))_infinite]"
		loading="eager"
		format="png"
	/>
</div>

<style>
	.character {
		--dimension: 48px;
		--pixel-size: 3.5;
		--frames: 20;
		--spritesheet-width: calc(var(--dimension) * var(--frames));
		width: calc(var(--dimension) * var(--pixel-size));
		height: calc(var(--dimension) * var(--pixel-size));
		overflow: hidden;
		display: grid;
		place-self: center;
		background-color: transparent;
	}

	.spritesheet {
		image-rendering: pixelated;
		width: calc(var(--spritesheet-width) * var(--pixel-size));
		max-width: calc(var(--spritesheet-width) * var(--pixel-size));
	}
</style>
