---

---

<div class="status flex items-center gap-4">
	<img class="online pulse block h-8 w-8 rounded-lg bg-slate-500" />
	<p>Loading</p>
</div>

<style>
	.online {
		--online-color: theme('colors.sky.800');
		outline-offset: 2px;
		outline: 2px solid var(--online-color);
	}
	.pulse {
		outline-offset: 2px;
		outline: 2px solid gray;
		@apply animate-pulse bg-primary-tone;
	}
</style>

<script is:inline src="https://cdn.jsdelivr.net/gh/xaronnn/js-lanyard/lanyard.js"></script>

<script>
	declare global {
		interface Window {
			lanyard: any
		}
	}

	const lanyard = window.lanyard
	const p = document.querySelector('.status > p') as HTMLParagraphElement
	const img = document.querySelector('.status > img') as HTMLImageElement
	const discordId = '394953409855488012'

	const statusColors: { [key: string]: string } = {
		online: 'limegreen',
		dnd: 'red',
		idle: 'yellow'
	}

	lanyard({
		userId: discordId,
		socket: true,
		onPresenceUpdate: async (presenceData: any) => {
			console.log(presenceData)
			img.style.setProperty('--online-color', statusColors[presenceData.discord_status])
			img.src = presenceData.listening_to_spotify
				? presenceData.spotify.album_art_url
				: `https://api.lanyard.rest/${discordId}.png`
			img.classList.remove('pulse')
			if (presenceData.activities.length > 0) {
				p.textContent = presenceData.listening_to_spotify
					? presenceData.spotify.song
					: presenceData.activities[0].name
			} else {
				p.textContent = 'Resting'
			}
		}
	})
</script>
