---
import Main from "@layouts/Main.astro";
---

<Main title="Snippets">
    <section class="px-5 py-5 space-y-3 rounded-md bg-primary-light">
        <h1 class="text-2xl font-extrabold font-heading">
            Snippets <span>📜</span>
        </h1>
        <p>
            Useful snippets that I use a lot or found really helpful on
            Internet.
        </p>
    </section>
</Main>
