---
import Main from '@layouts/Main.astro'
---

<Main title="Snippets">
	<section class="bg-primary-tone space-y-3 rounded-md px-5 py-5">
		<h1 class="font-heading text-2xl font-extrabold">
			Snippets <span>📜</span>
		</h1>
		<p>Useful snippets that I use a lot or found really helpful on Internet.</p>
	</section>
</Main>
