---
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'section'> {}
const { ...attr } = Astro.props
---

<section {...attr} class="flex flex-col gap-2">
	<slot />
</section>
