<h1 class="text-4xl flex gap-4 items-center font-sans tracking-widest">
        <a href="/" class="text-accent font-bold font-heading tracking-widest flex flex-col items">
            <span class="text-effect">Ashfid</span>
            <span class="text-sm flex gap-2 items-center text-white font-sans font-normal">
                Listening to Spotify
                <div class="rounded-full w-2  h-2 bg-green-500 animate-pulse"></div>
            </span>
        </a>
</h1>