<h1 class="flex items-center gap-4 font-sans text-4xl tracking-widest">
	<a href="/" class="items flex flex-col font-heading font-bold tracking-widest text-accent">
		<span class="text-effect">Ashfid</span>
	</a>
</h1>
