---
import Logo from './Logo.astro'
import { Links } from './NavigationLinks'
import MobileNavigationBar from './MobileNavigationBar.astro'
import StatusCard from '@components/StatusCard.svelte'

const pageName = Astro.url.pathname
---

<nav
	class="fixed bottom-0 left-0 right-0 z-[99999] flex h-20 items-center gap-4 border-t-4 border-primary-tint bg-primary md:sticky md:top-0 md:h-auto md:max-h-screen md:flex-col md:items-start md:border-x-2 md:border-y-0 md:p-4"
>
	<div class="hidden md:block">
		<Logo />
	</div>

	<section class="hidden w-full flex-col justify-between gap-4 md:flex">
		<!-- Nav Links -->
		<ul class="flex flex-grow flex-col gap-4 font-heading">
			{
				Links.map((link) => (
					<li class="flex-grow ">
						<a
							href={link.url}
							class="flex items-center gap-2 p-2 font-semibold"
							aria-current={pageName === link.url ? 'page' : 'false'}
						>
							<link.icon />
							{link.name}
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<!-- <div class="mt-auto hidden w-full md:block">
		<StatusCard client:only="svelte" transition:persist="status-card" />
	</div> -->

	<MobileNavigationBar pageName={pageName} />
</nav>
<style>
	a[aria-current='page'] {
		position: relative;
		font-weight: 900;
		z-index: 999999;
		@apply text-primary-tone;

		view-transition-name: current-page;
	}

	a[aria-current='page']::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: var(--color-accent);
		@apply rounded-lg;
		z-index: -1;
	}

	a[aria-current='page'] svg {
		@apply animate-bounce;
	}

	a:not([aria-current='page']):hover svg {
		color: var(--color-accent-shade);
	}
</style>
