---
import Logo from './Logo.astro'
import { Links } from './NavigationLinks'
import MobileNavigationBar from './MobileNavigationBar.astro'
import ThemePicker from '@components/ThemePicker/ThemePicker.svelte'
import { PaintBucket } from 'lucide-astro'

const pageName = Astro.url.pathname
---

<nav
	class="fixed bottom-0 left-0 right-0 z-[99999] mx-auto flex h-20 max-w-[1160px] items-center justify-between gap-4 border-t-4 border-primary-shade bg-primary-tone sm:flex-col sm:items-start md:static md:h-auto md:border-none md:p-4"
>
	<div class="hidden md:block">
		<Logo />
	</div>
	<section class="hidden w-full justify-between gap-4 md:flex">
		<ul class="flex gap-4 font-mono">
			{
				Links.map((link) => (
					<li>
						<a
							href={link.url}
							class=" flex items-center gap-2"
							aria-current={pageName === link.url ? 'page' : 'false'}
						>
							<link.icon />
							{link.name}
						</a>
					</li>
				))
			}
		</ul>
		<ThemePicker client:idle transition:persist="theme-picker">
			<PaintBucket slot="icon" />
		</ThemePicker>
	</section>

	<MobileNavigationBar pageName={pageName} />
</nav>
<style>
	a[aria-current='page'] {
		position: relative;
		font-weight: bold;
	}

	a[aria-current='page'] svg {
		color: var(--color-accent-shade);
		@apply animate-bounce;
		view-transition-name: current-page-icon;
	}

	a:not([aria-current='page']):hover svg {
		color: var(--color-accent-shade);
	}

	/* li[aria-current='page']::before {
		content: '';
		position: absolute;
		background-color: var(--color-accent);
		bottom: 0;
		right: 0;
		left: 0;
		height: 2px;
		view-transition-name: current-page;
	} */
</style>
