---
import Logo from './Logo.astro'
import { Links } from './NavigationLinks'

const pageName = Astro.url.pathname
---

<nav
	class="sticky mx-auto flex max-w-[1160px] items-center justify-between gap-4 p-4 sm:flex-col sm:items-start"
>
	<Logo />
	<ul class="flex gap-4 font-mono">
		{
			Links.map((link) => (
				// @ts-ignore
				<li aria-current={pageName === link.url ? 'page' : ''}>
					<a href={link.url} class="flex items-center gap-2 text-base">
						<link.icon />
						{link.name}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	li[aria-current='page'] {
		position: relative;
		font-weight: bold;
	}

	li[aria-current='page'] svg {
		color: var(--color-accent-lighter);
		@apply animate-bounce;
		view-transition-name: current-page-icon;
	}

	li:not([aria-current='page']):hover svg {
		color: var(--color-accent-lighter);
	}

	/* li[aria-current='page']::before {
		content: '';
		position: absolute;
		background-color: var(--color-accent);
		bottom: 0;
		right: 0;
		left: 0;
		height: 2px;
		view-transition-name: current-page;
	} */
</style>
