---
import Navbar from "@components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/rancho";

import "@fontsource/raleway";
import "@fontsource/jolly-lodger";
import "../styles/globals.css";
interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="flex flex-col gap-2 md:p-2 md:flex-row-reverse">
        <main class="flex flex-col flex-grow gap-4 px-3 overflow-y-scroll">
                <slot />
        </main>
        <Navbar />
    </body>
</html>
<script>

    var clickSound: HTMLAudioElement = new Audio("audio/click.mp3");

    document.addEventListener("swup:willReplaceContent", (event) => {
        clickSound.pause();
        clickSound.currentTime = 0;
        clickSound.play();
    });

    document.addEventListener("swup:popState", (event) => {
        clickSound.pause();
        clickSound.currentTime = 0;
        clickSound.play();
    });
</script>
