---
import RevisedLayout from '@layouts/RevisedLayout.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection, getEntries } from 'astro:content'
import { Icon } from 'astro-icon/components'
import HeroSection from '@components/hero-section.astro'

const tools = await getCollection('tools')

async function getUniqueCategories() {
	let rawCategories: CollectionEntry<'categories'>[] = []

	for (let tool of tools) {
		const categories = await getEntries(tool.data.categories)
		rawCategories = [...rawCategories, ...categories]
	}

	return rawCategories.filter(
		(current, index, data) => data.map((e) => e.id).indexOf(current.id) === index
	)
}

let uniqueCategories: CollectionEntry<'categories'>[] = await getUniqueCategories()

const currentPage = Astro.url.pathname

console.log(currentPage)

function getCount(id: string) {
	return tools.filter((tool) => tool.data.categories.find((cat) => cat.id === id)).length
}
---

<RevisedLayout title="Uses">
	<HeroSection title="Tools I Use 🔦">
		<p>All the tools I use currently categorized into sections on this page</p>
	</HeroSection>

	<section>
		<ul class="flex flex-wrap justify-center gap-4 font-heading text-sm tracking-wide">
			<li>
				<a
					href="/uses"
					aria-current={currentPage === '/uses' ? 'page' : 'false'}
					class="group flex cursor-pointer items-center gap-2 rounded-lg border-x border-b-2 border-t border-highlight bg-card p-2 hover:text-heading-hover aria-[current=page]:text-heading-hover"
				>
					<Icon name="mdi:treasure-chest" />
					<span class="group-hover:font-semibold">All</span>
				</a>
			</li>

			{
				uniqueCategories.map((category) => (
					<li>
						<a
							href={`/uses/${category.data.name.toLowerCase()}`}
							aria-current={
								currentPage.includes(category.data.name.toLowerCase()) ? 'page' : 'false'
							}
							class="group flex cursor-pointer items-center gap-2 rounded-lg border-x border-b-2 border-t border-highlight bg-card p-2 hover:text-heading-hover
							aria-[current=page]:font-bold aria-[current=page]:text-heading-hover"
						>
							<Icon name={category.data.icon} />
							<span class=" group-hover:font-semibold">
								{category.data.name} ({getCount(category.id)})
							</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<section class="grid grid-cols-2 gap-4 md:grid-cols-3"><slot /></section>
</RevisedLayout>
